@charset "utf-8";

.siteNotices {
    position:absolute;
    z-index:1000;
    width:600px;
    top:150px;
    left:150px;
    display:block;
    border:solid 2px #2587c3;
    background:#fff;
    border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
    box-shadow:5px 5px 5px rgba(125,125,125,0.3);
    -webkit-box-shadow:5px 5px 5px rgba(125,125,125,0.3);
    -moz-box-shadow:5px 5px 5px rgba(125,125,125,0.3);
    -ms-box-shadow:5px 5px 5px rgba(125,125,125,0.3);
}

.siteNoticesContents {padding:10px ;line-height:1.5em;font-size:13px;}    

.siteNoticesCloseToday {height:28px;line-height:28px;background-color:#2587c3;color:#d3e7f3;border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;}
    .siteNoticesCloseToday label {display:inline-block;float:left;font-size:11px;}
    .siteNoticesCloseToday label:hover {color:#fff;}
    .siteNoticesCloseToday label input {vertical-align:middle;}
    .siteNoticesCloseToday label em {font-style:normal;}
    .siteNoticesCloseToday span {display:inline-block;float:right;padding-right:10px;font-size:12px;font-weight:bold;}
    .siteNoticesCloseToday span:hover {color:#fff;cursor:pointer;}
    .siteNoticesCloseToday span em {font-style:normal;font-size:11px;}
